/MVaahanApplication/.vs/MVaahanApplication/v16/*.suo
/MVaahanApplication/.vs/MVaahanApplication/v16/Server/sqlite3/*.lock
/MVaahanApplication/.vs/MVaahanApplication/v16/Server/sqlite3/*.ide
/MVaahanApplication/.vs/MVaahanApplication/v16/Server/sqlite3/*.ide-shm
/MVaahanApplication/.vs/MVaahanApplication/v16/Server/sqlite3/*.ide-wal
/MVaahanApplication/MVaahan.DTOs/bin/Debug/netstandard2.0/*.json
/MVaahanApplication/MVaahan.DTOs/bin/Debug/netstandard2.0/*.dll
/MVaahanApplication/MVaahan.DTOs/bin/Debug/netstandard2.0/*.pdb
/MVaahanApplication/MVaahan.DTOs/obj/Debug/netstandard2.0/*.cs
/MVaahanApplication/MVaahan.DTOs/obj/Debug/netstandard2.0/*.cache
/MVaahanApplication/MVaahan.DTOs/obj/Debug/netstandard2.0/*.txt
/MVaahanApplication/MVaahan.DTOs/obj/Debug/netstandard2.0/*.dll
/MVaahanApplication/MVaahan.DTOs/obj/Debug/netstandard2.0/*.pdb
/MVaahanApplication/MVaahan.DTOs/obj/*.cache
/MVaahanApplication/MVaahan.DTOs/obj/*.json
/MVaahanApplication/MVaahan.DTOs/obj/*.props
/MVaahanApplication/MVaahan.DTOs/obj/*.targets
/MVaahanApplication/MVaahan.DataEntities/bin/Debug/netstandard2.0/*.json
/MVaahanApplication/MVaahan.DataEntities/bin/Debug/netstandard2.0/*.dll
/MVaahanApplication/MVaahan.DataEntities/bin/Debug/netstandard2.0/*.pdb
/MVaahanApplication/MVaahan.DataEntities/obj/Debug/netstandard2.0/*.cs
/MVaahanApplication/MVaahan.DataEntities/obj/Debug/netstandard2.0/*.cache
/MVaahanApplication/MVaahan.DataEntities/obj/Debug/netstandard2.0/*.txt
/MVaahanApplication/MVaahan.DataEntities/obj/Debug/netstandard2.0/*.dll
/MVaahanApplication/MVaahan.DataEntities/obj/Debug/netstandard2.0/*.pdb
/MVaahanApplication/MVaahan.DataEntities/obj/*.cache
/MVaahanApplication/MVaahan.DataEntities/obj/*.json
/MVaahanApplication/MVaahan.DataEntities/obj/*.props
/MVaahanApplication/MVaahan.DataEntities/obj/*.targets
/MVaahanApplication/MVaahan.DomainEntities/bin/Debug/netcoreapp2.2/*.json
/MVaahanApplication/MVaahan.DomainEntities/bin/Debug/netcoreapp2.2/*.dll
/MVaahanApplication/MVaahan.DomainEntities/bin/Debug/netcoreapp2.2/*.pdb
/MVaahanApplication/MVaahan.DomainEntities/obj/Debug/netcoreapp2.2/*.cs
/MVaahanApplication/MVaahan.DomainEntities/obj/Debug/netcoreapp2.2/*.cache
/MVaahanApplication/MVaahan.DomainEntities/obj/Debug/netcoreapp2.2/*.txt
/MVaahanApplication/MVaahan.DomainEntities/obj/Debug/netcoreapp2.2/*.dll
/MVaahanApplication/MVaahan.DomainEntities/obj/Debug/netcoreapp2.2/*.pdb
/MVaahanApplication/MVaahan.DomainEntities/obj/*.cache
/MVaahanApplication/MVaahan.DomainEntities/obj/*.json
/MVaahanApplication/MVaahan.DomainEntities/obj/*.props
/MVaahanApplication/MVaahan.DomainEntities/obj/*.targets
/MVaahanApplication/MVaahan.Repository/bin/Debug/netstandard2.0/*.dll
/MVaahanApplication/MVaahan.Repository/bin/Debug/netstandard2.0/*.pdb
/MVaahanApplication/MVaahan.Repository/bin/Debug/netstandard2.0/*.json
/MVaahanApplication/MVaahan.Repository/obj/Debug/netstandard2.0/*.cs
/MVaahanApplication/MVaahan.Repository/obj/Debug/netstandard2.0/*.cache
/MVaahanApplication/MVaahan.Repository/obj/Debug/netstandard2.0/*.CopyComplete
/MVaahanApplication/MVaahan.Repository/obj/Debug/netstandard2.0/*.txt
/MVaahanApplication/MVaahan.Repository/obj/Debug/netstandard2.0/*.dll
/MVaahanApplication/MVaahan.Repository/obj/Debug/netstandard2.0/*.pdb
/MVaahanApplication/MVaahan.Repository/obj/*.cache
/MVaahanApplication/MVaahan.Repository/obj/*.json
/MVaahanApplication/MVaahan.Repository/obj/*.props
/MVaahanApplication/MVaahan.Repository/obj/*.targets
/MVaahanApplication/MVaahan.Repository/*.user
/MVaahanApplication/MVaahan.Repository/Model/Fruit.cs
/MVaahanApplication/MVaahan.Repository/Model/Units.cs
/MVaahanApplication/MVaahan.Repository/Model/Users.cs
/MVaahanApplication/MVaahan.Repository/Model/testdatabase1Context.cs
*.json
*.dll
*.pdb
*.cache
*.txt
*.props
*.targets
/MVaahanApplication/MVaahan.ServiceContracts/bin/Debug/netstandard2.0/*.xml
/MVaahanApplication/MVaahan.ServiceContracts/obj/Debug/netstandard2.0/*.cs
/MVaahanApplication/MVaahan.ServiceContracts/obj/Debug/netstandard2.0/*.CopyComplete
/MVaahanApplication/MVaahan.Services/bin/Debug/netstandard2.0/*.xml
/MVaahanApplication/MVaahan.Services/obj/Debug/netstandard2.0/*.cs
/MVaahanApplication/MVaahan.Services/obj/Debug/netstandard2.0/*.CopyComplete
/MVaahanApplication/MVaahanWebAPI/*.user
/MVaahanApplication/MVaahanWebAPI/obj/Debug/netcoreapp2.2/MVaahanWebAPI.AssemblyInfo.cs
/MVaahanApplication/MVaahanWebAPI/obj/Debug/netcoreapp2.2/MVaahanWebAPI.RazorAssemblyInfo.cs
/MVaahanApplication/MVaahanWebAPI/obj/Debug/netcoreapp2.2/MVaahanWebAPI.csproj.CopyComplete
